<h1>Create</h1>
<div class="container">
<form action="/home/create" method="post">
  <div class="form-group">
    <label for="formGroupExampleInput">title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" name="input_title">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">content</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="input_content" placeholder="Content"></textarea>
    <!--<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" >-->
  </div>
  <div class="form-group">
     <!--<label for="submit">Submit</label>-->
     <input type="submit" class="" id="submit" value="submit">
  </div>
</form>
</div>